/* Character tag */
.gameobject {
	background-repeat: no-repeat;
	display: block;
	image-rendering: pixelated;
	position: fixed;
}

.colBox {
	display: block;
	position: fixed;
    border: 1px solid blue;
    z-index: 10;
}

body {
	overflow: hidden;
}


.damaged {
    filter: grayscale(100%) sepia(100%) hue-rotate(315deg) saturate(700%) brightness(80%);
}

#map{
	position: absolute;
}

.tile{
	image-rendering: pixelated;
	position: relative;
	float: left;
	background-image: url(tilesheet.gif);
}
